.register-form-container{
    margin: 10rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.register-form{
    display: flex;
    flex-direction: column;
}

.register-form > input,  .register-form > button, .register-form > select{
    width: 50%;
    border: none;
    height: 1.5rem;
    border-radius: 11px;
}

.register-form > button{
    margin-top: 4rem;
}

.register-form > label{
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

.perfil-side{

    height: 35rem;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: #f3f3f3;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 21%);
    display: flex;

}

.img-perfil{
    /* width: 25%; */
    height: 100%;
}

.infos-perfil{
    width: 100%;
    height: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
}

.bio-perfil{
    display: flex;
    /* align-items: center; */
    height: 25%;
    margin-top: 2rem;
}

.bio-perfil > ul{
    list-style: none;
}

.map-perfil{
    height: 50%;
    width: 100%;
}


.User {
    width: 45px;
    height: 45px;
    position: relative;
    cursor: pointer;
  }
  .User > .User-Avatar {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 12px -5px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0b520b;
  }
  .User > .User-Avatar > img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
  }
  
  .User-Dropdown {
    display: none;
    position: absolute;
    border-radius: 7px;
    background: #fff;
    box-shadow: 0px 0px 8px rgba(214, 214, 214, 0.78);
    list-style: none;
    padding: 0 30px;
    width: 150px;
    margin: 0;
    top: 70px;
    right: -9%;
  }
  .User-Dropdown:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.5em;
    right: 0px;
    box-sizing: border-box;
    border: 7px solid black;
    border-color: transparent transparent #ffffff #ffffff;
    transform-origin: 0 0;
    transform: rotate(135deg);
    box-shadow: -3px 3px 3px -3px rgba(214, 214, 214, 0.78);
  }
  .User-Dropdown.U-open {
    display: block;
  }
  .User-Dropdown > li {
    padding: 0px;
    line-height: 47px;
    border-bottom: 1px solid rgba(215, 215, 215, 0.17);
  }
  .User-Dropdown > li:last-child {
    border-bottom: 0px;
  }
  .User-Dropdown > li > a {
    font-size: 13px;
    padding: 15px 25px 16px 10px;
    text-decoration: none;
    color: #0b520b;
    transition: all 0.2s ease-out;
  }
  .User-Dropdown span {
    background: #16d67a;
    padding: 3px 10px;
    color: #fff;
    border-radius: 30px;
    font-size: 13px;
  }
  .User-Dropdown > li:before {
    content: "";
    width: 0px;
    height: 40px;
    position: absolute;
    background: #0b520b;
    margin-top: 4px;
    border-radius: 0 1px 1px 0;
    left: 0px;
    transition: all 0.2s ease;
  }
  .User-Dropdown > li:hover:before {
    width: 5px;
    border-radius: 30px;
  }
  .User-Dropdown > li a:hover {
    margin-left: 5px;
  }